*.class

# Package Files #
*.jar
*.war
*.ear
.idea/
SWE.iml
target/

# Eclipse things
.classpath
.settings/

# To prevent ignoring external.jar (the pre-given library)

!src/main/resources/external.jar

# Backup file, typically made by emacs
*~
